<%= form_with(model: species, local: true) do |form| %>
  <% if species.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(species.errors.count, "error") %> prohibited this species from being saved:</h2>

      <ul>
        <% species.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :scientific_name %>
    <%= form.text_field :scientific_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :common_name %>
    <%= form.text_field :common_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :native_status %>
    <%= form.text_field :native_status, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.rich_text_area :description %>
  </div>
  
  <div id="accordion">
    <div class="card mt-4">
      <div class="card-header">
        <h5 class="mb-0">
          <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne">
            Flower
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <%= form.fields_for :flower do |ff|%>
            <div class="form-group">
              <%= ff.label  :conspicuous %>
              <%= ff.select :conspicuous , ['conspicuous', 'inconspicuous'], {}, { class: "form-control" }%>
            </div>

            <div class="form-group">  
              <%= ff.label :color %>
              <%= ff.text_field :color, class: "form-control"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-header">
        <h5 class="mb-0">
          <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse-2">
            Foliage
          </button>
        </h5>
      </div>

      <div id="collapse-2" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <%= form.fields_for :foliage do |ff|%>
            <div class="form-group">  
              <%= ff.label :texture %>
              <%= ff.text_field :texture, class: "form-control"%>
            </div>

            <div class="form-group">  
              <%= ff.label :porosity_winter %>
              <%= ff.text_field :porosity_winter, class: "form-control"%>
            </div>

            <div class="form-group">  
              <%= ff.label :porosity_summer %>
              <%= ff.text_field :porosity_summer, class: "form-control"%>
            </div>

            <div class="form-group">  
              <%= ff.label :color %>
              <%= ff.text_field :color, class: "form-control"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-header">
        <h5 class="mb-0">
          <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse-3">
            Propagation
          </button>
        </h5>
      </div>

      <div id="collapse-3" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <%= form.fields_for :propagation do |ff|%>
            <div class="form-group">  
              <%= ff.label :tubers %>
              <%= ff.text_field :tubers, class: "form-control"%>
            </div>

            <div class="form-group">  
              <%= ff.label :sprigs %>
              <%= ff.text_field :sprigs, class: "form-control"%>
            </div>

            <div class="form-group">  
              <%= ff.label :sod %>
              <%= ff.text_field :sod, class: "form-control"%>
            </div>

            <div class="form-group">  
              <%= ff.label :seed %>
              <%= ff.text_field :seed, class: "form-control"%>
            </div>

            <div class="form-group">  
              <%= ff.label :cuttings %>
              <%= ff.text_field :cuttings, class: "form-control"%>
            </div>

            <div class="form-group">  
              <%= ff.label :corms %>
              <%= ff.text_field :corms, class: "form-control"%>
            </div>

            <div class="form-group">  
              <%= ff.label :container %>
              <%= ff.text_field :container, class: "form-control"%>
            </div>

            <div class="form-group">  
              <%= ff.label :bulbs %>
              <%= ff.text_field :bulbs, class: "form-control"%>
            </div>
            
            <div class="form-group">  
              <%= ff.label :bare_root %>
              <%= ff.text_field :bare_root, class: "form-control"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>

        <div class="card mt-4">
      <div class="card-header">
        <h5 class="mb-0">
          <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse-4">
            Growth
          </button>
        </h5>
      </div>

      <div id="collapse-4" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <%= form.fields_for :growth do |ff|%>
            <div class="form-group">  
              <%= ff.label :shade_tolerance %>
              <%= ff.text_field :shade_tolerance, class: "form-control"%>
            </div>

            <div class="form-group">  
              <%= ff.label :salinity_tolerance %>
              <%= ff.text_field :salinity_tolerance, class: "form-control"%>
            </div>

            <div class="form-group">  
              <%= ff.label :ph_minimum %>
              <%= ff.text_field :ph_minimum, class: "form-control"%>
            </div>

            <div class="form-group">  
              <%= ff.label :ph_maximum %>
              <%= ff.text_field :ph_maximum, class: "form-control"%>
            </div>

            <div class="form-group">  
              <%= ff.label :moisture_use %>
              <%= ff.text_field :moisture_use, class: "form-control"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%= form.submit class: 'btn btn-primary mt-3'%>
<% end %>
