<%= form_with(model: species, local: true) do |form| %>
  <% if species.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(species.errors.count, "error") %> prohibited this species from being saved:</h2>

      <ul>
        <% species.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label t(:scientific_name) %>
    <%= form.text_field :scientific_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label t(:common_name) %>
    <%= form.text_field :common_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label t(:native_status) %>
    <%= form.text_field :native_status, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label t(:description) %>
    <%= form.rich_text_area :description %>
  </div>

  <div class="card mt-4">
    <div class="card-body">
      <div class="card-title">
        <h5><%= t :image_links%></h5>
      </div>
  
      <%= form.fields_for :species_images do |ff|%>
        <div class="form-group">
          <%= ff.label t(:url) %>
          <%= ff.text_field :url, class: "form-control"%>
          
          <%= ff.check_box :_destroy %>
          <%= ff.label :_destroy, t(:destroy)  %>
        </div>
      <% end %>
    </div>
  </div>

  <div id="accordion">
    <div class="card mt-4">
      <div class="card-header">
        <h5 class="mb-0">
          <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne">
            <%= t :flower%>
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <%= form.fields_for :flower do |ff|%>
            <div class="form-group">
              <%= ff.label  t(:conspicuous) %>
              <%= ff.select :conspicuous , [[t(:visible), 'conspicuous'], [t(:not_visible), 'inconspicuous']], {}, { class: "form-control" }%>
            </div>

            <div class="form-group">  
              <%= ff.label t(:color) %>
              <%= ff.text_field :color, class: "form-control"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-header">
        <h5 class="mb-0">
          <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse-2">
            <%= t(:foliage) %>
          </button>
        </h5>
      </div>

      <div id="collapse-2" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <%= form.fields_for :foliage do |ff|%>
            <div class="form-group">  
              <%= ff.label t(:texture) %>
              <%= ff.text_field :texture, class: "form-control"%>
            </div>

            <div class="form-group">  
              <%= ff.label t(:porosity_winter) %>
              <%= ff.text_field :porosity_winter, class: "form-control"%>
            </div>

            <div class="form-group">  
              <%= ff.label t(:porosity_summer) %>
              <%= ff.text_field :porosity_summer, class: "form-control"%>
            </div>

            <div class="form-group">  
              <%= ff.label t(:color) %>
              <%= ff.text_field :color, class: "form-control"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-header">
        <h5 class="mb-0">
          <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse-3">
            <%= t :propagation %>
          </button>
        </h5>
      </div>

      <div id="collapse-3" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <%= form.fields_for :propagation do |ff|%>
            <div class="form-group">  
              <%= ff.label t(:tubers) %>
              <%= ff.text_field :tubers, class: "form-control"%>
            </div>

            <div class="form-group">  
              <%= ff.label t(:sprigs) %>
              <%= ff.text_field :sprigs, class: "form-control"%>
            </div>

            <div class="form-group">  
              <%= ff.label t(:sod) %>
              <%= ff.text_field :sod, class: "form-control"%>
            </div>

            <div class="form-group">  
              <%= ff.label t(:seed) %>
              <%= ff.text_field :seed, class: "form-control"%>
            </div>

            <div class="form-group">  
              <%= ff.label t(:cuttings) %>
              <%= ff.text_field :cuttings, class: "form-control"%>
            </div>

            <div class="form-group">  
              <%= ff.label t(:corms) %>
              <%= ff.text_field :corms, class: "form-control"%>
            </div>

            <div class="form-group">  
              <%= ff.label t(:container) %>
              <%= ff.text_field :container, class: "form-control"%>
            </div>

            <div class="form-group">  
              <%= ff.label t(:bulbs) %>
              <%= ff.text_field :bulbs, class: "form-control"%>
            </div>
            
            <div class="form-group">  
              <%= ff.label t(:bare_root) %>
              <%= ff.text_field :bare_root, class: "form-control"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>

        <div class="card mt-4">
      <div class="card-header">
        <h5 class="mb-0">
          <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse-4">
            <%= t :growth %>
          </button>
        </h5>
      </div>

      <div id="collapse-4" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <%= form.fields_for :growth do |ff|%>
            <div class="form-group">  
              <%= ff.label t(:shade_tolerance) %>
              <%= ff.text_field :shade_tolerance, class: "form-control"%>
            </div>

            <div class="form-group">  
              <%= ff.label t(:salinity_tolerance) %>
              <%= ff.text_field :salinity_tolerance, class: "form-control"%>
            </div>

            <div class="form-group">  
              <%= ff.label t(:ph_minimum) %>
              <%= ff.text_field :ph_minimum, class: "form-control"%>
            </div>

            <div class="form-group">  
              <%= ff.label t(:ph_maximum) %>
              <%= ff.text_field :ph_maximum, class: "form-control"%>
            </div>

            <div class="form-group">  
              <%= ff.label t(:moisture_use) %>
              <%= ff.text_field :moisture_use, class: "form-control"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%= form.submit t(:save), class: 'btn btn-primary mt-3'%>
<% end %>
