<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">
      <%= t :species %>
    </h5>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <table class="table table-bordered table-responsive-sm table-responsive-md">
      <thead>
        <tr class="text-center">
          <th scope="col">id</th>
          <th scope="col"><%= t :scientific_name %></th>
          <th scope="col"><%= t :common_name%></th>
          <th scope="col"><%= t :native_status%></th>
          <th scope="col"colspan="3"><%= t :actions %></th>
        </tr>
      </thead>

      <tbody>
        <% @species.each do |species| %>
          <tr>
            <td scope="row" class="text-center"><%= species.id %></td>
            <td><%= link_to species.scientific_name, species_path(species) %></td>
            <td><%= species.common_name %></td>
            <td><%= species.native_status %></td>
              <% if can? :read, Species %>
                <td class="text-center">
                  <%= link_to species do %>
                    <i class="fas fa-eye"></i>
                  <% end %>
                </td>
              <% end %>
              <% if can? :update, Species %>
                <td class="text-center">
                  <%= link_to edit_species_path(species) do %>
                    <i class="fas fa-pencil-alt"></i>
                  <% end %>
                </td>
              <% end %>

              <% if can? :destroy, Species %>
                <td class="text-center">
                  <%= link_to species, method: :delete, data: { confirm: t(:confirm_delete) } do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                </td>
              <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate @plants, list_classes: %w(pagination justify-content-center), renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>

<% if can? :create, User %>
  <div class="card mt-3">
    <footer class="card-footer">
      <%= link_to t(:new_species), new_species_path, class: 'btn btn-link' %>
    </div>
  </div>
<% end %>

