<h4>Species</h4>
<table class="table table-bordered">
  <tbody>
    <tr>
      <td class="font-weight-bold" scope="col">id</td>
      <td scope="col"><%= @species.id %></td>
    </tr>
    
    <tr>
      <td class="font-weight-bold" scope="col">Scientific name</td>
      <td scope="col"><%= @species.scientific_name %></td>
    </tr>
    
    <tr>
      <td class="font-weight-bold" scope="col">Common name</td>
      <td scope="col"><%= @species.common_name %></td>
    </tr>
    
    <tr>
      <td class="font-weight-bold" scope="col">Native status</td>
      <td scope="col"><%= @species.native_status %></td>
    </tr>
  </tbody>
</table>

<h4 class="mt-4">Flower</h4>
<table class="table table-bordered">
  <tbody>
    <tr>
      <td class="font-weight-bold" scope="col">Is Conspicuous</td>
      <td scope="col"><%= @species.flower.conspicuous %></td>
    </tr>
    
    <tr>
      <td class="font-weight-bold" scope="col">Color</td>
      <td scope="col"><%= @species.flower.color %></td>
    </tr>
  </tbody>
</table>

<h4 class="mt-4">Foliage</h4>
<table class="table table-bordered">
  <tbody>
    <tr>
      <td class="font-weight-bold" scope="col-3">Texture</td>
      <td scope="col"><%= @species.foliage.texture %></td>
    </tr>
    
    <tr>
      <td class="font-weight-bold" scope="col-3">Porosity Winter</td>
      <td scope="col"><%= @species.foliage.porosity_winter %></td>
    </tr>

    <tr>
      <td class="font-weight-bold" scope="col-3">Porosity Summer</td>
      <td scope="col"><%= @species.foliage.porosity_summer %></td>
    </tr>

    <tr>
      <td class="font-weight-bold" scope="col-3">Color</td>
      <td scope="col"><%= @species.foliage.color %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_species_path(@species) %> |
<%= link_to 'Back', species_index_path %>
