<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title"><%= @species.scientific_name %></h5>
    <h6 class="card-subtitle text-muted"><%= @species.common_name %></h6>
  </div>
</div>

<table class="table table-bordered table-responsive-sm table-responsive-md">
  <tbody>
    <tr>
      <td class="font-weight-bold" scope="col">id</td>
      <td scope="col"><%= @species.id %></td>
    </tr>
    
    <tr>
      <td class="font-weight-bold" scope="col">
        <%= t :scientific_name %>
      </td>
      <td scope="col"><%= @species.scientific_name %></td>
    </tr>
    
    <tr>
      <td class="font-weight-bold" scope="col">
        <%= t :common_name %>
      </td>
      <td scope="col"><%= @species.common_name %></td>
    </tr>
    
    <tr>
      <td class="font-weight-bold" scope="col">
        <%= t :native_status%>
      </td>
      <td scope="col"><%= @species.native_status %></td>
    </tr>
  </tbody>
</table>

<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">
        <%= t :description%>
    </h5>
    <%= @species.description %>
  </div>
</div>

<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">
        <%= t :flower%>
    </h5>
  
    <table class="table table-bordered table-responsive-sm table-responsive-md">
      <tbody>
        <tr>
          <td class="font-weight-bold" scope="col">
            <%= t :conspicuous%>
          </td>
          <td scope="col"><%= @species.flower.conspicuous %></td>
        </tr>
        
        <tr>
          <td class="font-weight-bold" scope="col">
            <%= t :color%>
          </td>
          <td scope="col"><%= @species.flower.color %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">
        <%= t :foliage%>
    </h5>

    <table class="table table-bordered table-responsive-sm table-responsive-md">
      <tbody>
        <tr>
          <td class="font-weight-bold" scope="col-3">
            <%= t :texture%>
          </td>
          <td scope="col"><%= @species.foliage.texture %></td>
        </tr>
        
        <tr>
          <td class="font-weight-bold" scope="col-3">
            <%= t :porosity_winter%>
          </td>
          <td scope="col"><%= @species.foliage.porosity_winter %></td>
        </tr>

        <tr>
          <td class="font-weight-bold" scope="col-3">
            <%= t :porosity_winter%>
          </td>
          <td scope="col"><%= @species.foliage.porosity_summer %></td>
        </tr>

        <tr>
          <td class="font-weight-bold" scope="col-3">
            <%= t :color%>
          </td>
          <td scope="col"><%= @species.foliage.color %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">
      <%= t :propagation%>
    </h5>
  
    <table class="table table-bordered table-responsive-sm table-responsive-md">
      <tbody>
        <tr>
          <td class="font-weight-bold" scope="col-3">
            <%= t :tubers %>
          </td>
          <td scope="col"><%= @species.propagation.tubers %></td>
        </tr>
        
        <tr>
          <td class="font-weight-bold" scope="col-3">
            <%= t :sprigs %>
          </td>
          <td scope="col"><%= @species.propagation.sprigs %></td>
        </tr>

        <tr>
          <td class="font-weight-bold" scope="col-3">
            <%= t :sod %>
          </td>
          <td scope="col"><%= @species.propagation.sod %></td>
        </tr>

        <tr>
          <td class="font-weight-bold" scope="col-3">
            <%= t :seed %>
          </td>
          <td scope="col"><%= @species.propagation.seed %></td>
        </tr>

        <tr>
          <td class="font-weight-bold" scope="col-3">
            <%= t :cuttings %>
          </td>
          <td scope="col"><%= @species.propagation.cuttings %></td>
        </tr>
        
        <tr>
          <td class="font-weight-bold" scope="col-3">
            <%= t :corms %>
          </td>
          <td scope="col"><%= @species.propagation.corms %></td>
        </tr>

        <tr>
          <td class="font-weight-bold" scope="col-3">
            <%= t :container %>
          </td>
          <td scope="col"><%= @species.propagation.container %></td>
        </tr>

        <tr>
          <td class="font-weight-bold" scope="col-3">
            <%= t :bulbs %>
          </td>
          <td scope="col"><%= @species.propagation.bulbs %></td>
        </tr>
        
        <tr>
          <td class="font-weight-bold" scope="col-3">
            <%= t :bare_root %>
          </td>
          <td scope="col"><%= @species.propagation.bare_root %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">
        <%= t :growth%>
    </h5>
  
    <table class="table table-bordered table-responsive-sm table-responsive-md">
      <tbody>
        <tr>
          <td class="font-weight-bold" scope="col-3">
            <%= t :shade_tollerance %>
          </td>
          <td scope="col"><%= @species.growth.shade_tolerance %></td>
        </tr>
        
        <tr>
          <td class="font-weight-bold" scope="col-3">
            <%= t :salinity_tollerance %>
          </td>
          <td scope="col"><%= @species.growth.salinity_tolerance %></td>
        </tr>

        <tr>
          <td class="font-weight-bold" scope="col-3">
            <%= t :ph_minimum %>
          </td>
          <td scope="col"><%= @species.growth.ph_minimum %></td>
        </tr>

        <tr>
          <td class="font-weight-bold" scope="col-3">
            <%= t :ph_maximum %>
          </td>
          <td scope="col"><%= @species.growth.ph_maximum %></td>
        </tr>

        <tr>
          <td class="font-weight-bold" scope="col-3">
            <%= t :moisture_use %>
          </td>
          <td scope="col"><%= @species.growth.moisture_use %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card mt-3">
  <footer class="card-footer ">
    <%= link_to t(:edit), edit_species_path(@species), class: 'btn btn-link'%>
    <%= link_to t(:back), species_index_path, class: 'btn btn-link'%>
  </footer>
</div>
