<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title"><%= @plant.scientific_name %></h5>
    <h6 class="card-subtitle text-muted"><%= @plant.common_name %></h6>
  </div>
</div>

<table class="table table-bordered table-responsive-sm table-responsive-md">
  <tbody>
    <tr>
      <td class="font-weight-bold" scope="col">id</td>
      <td scope="col"><%= @plant.id %></td>
    </tr>
    
    <tr>
      <td class="font-weight-bold" scope="col">
        <%= t :scientific_name %>
      </td>
      <td scope="col"><%= @plant.scientific_name %></td>
    </tr>
    
    <tr>
      <td class="font-weight-bold" scope="col">
        <%= t :common_name %>
      </td>
      <td scope="col"><%= @plant.common_name %></td>
    </tr>
    
    <tr>
      <td class="font-weight-bold" scope="col">
        <%= t :native_status %>
      </td>
      <td scope="col"><%= @plant.native_status %></td>
    </tr>
  </tbody>
</table>

<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">
      <%= t :description %>
    </h5>
    <%= @plant.description %>
  </div>
</div>

<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">
      <%= t :image_links%>
    </h5>
  </div>

  <ul class="list-group list-group-flush">
    <% @plant.plant_images.each do |image| %>
      <li class="list-group-item">
        <%= link_to image.url %>
      </li>
    <% end %>
  </ul>
</div>

<div class="card mt-3">
  <footer class="card-footer ">
    <%= link_to t(:edit), edit_plant_path(@plant), class: 'mr-3 btn btn-link' %>
    <%= link_to t(:back), plants_path, class: 'mr-3 btn btn-link' %>
  </div>
</div>
