<!DOCTYPE html>
<html>
  <head>
    <title>PlantpediaServer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <div class="mt-4 mb-4">
      <% if notice %>
        <p  class="alert alert-primary" role="alert" id="notice"><%= notice %></p>
      <%end%>

      <% if alert %>
        <p  class="alert alert-warning" role="alert" id="alert"><%= alert %></p>
      <%end%>

      <div class="justify-content-center">
        <%= yield %>
      </div>

    </div>
  </body>
</html>
